@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.link-item {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: #000;
  margin: 15px;
  transition: color 0.5s;
}

.link-item:hover {
  color: #e1cd5d;
}
.active-link {
  color: #e1cd5d;
}
.group-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.fighter-card {
  position: relative;
  width: 250px;
  height: 400px;
  background-color: #ededed;
  border-radius: 6px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.fighter-card-champ {
  position: relative;
  width: 250px;
  height: 400px;
  background-image: linear-gradient(140deg, #f3eed5, #dac761);
  border-radius: 6px;
  margin: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.avatar {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}
.fighter-name {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  left: 50%;
  font-size: 20px;
  margin-bottom: 10px;
  transform: translateX(-50%) translateY(-20px);
}

.fighter-record {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  left: 50%;
  font-size: 20px;
  transform: translateX(-50%) translateY(20px);
}
.champ-text {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  left: 50%;
  font-size: 28px;
  color: white;
  transform: translateX(-50%) translateY(80px);
}

.fighter-form {
  width: 400px;
  margin: 100px auto;
}

.delete-fighter-btn {
  position: absolute;

  left: 50%;
  font-size: 20px;
  transform: translateX(-50%) translateY(170px);
}
.fighter-input {
  width: 300px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #444;
  margin: 8px auto;
  display: block;
}
.champ-question {
  text-align: center;
  margin: auto;
  display: block;
  font-family: 'Roboto', sans-serif;
}
.add-fighter-btn {
  margin: auto;
  display: block;
  padding: 14px;
  border-radius: 6px;
  border: none;
  background: #d4c676;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  transition: color 1s;
}

.add-fighter-btn:hover {
  background: #eee5b1;
}
